:root {
    --borderWidth:2px;
    --color1:#a801a8;
    --color2:#3fbdbd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('indeks.jpg') 0/cover;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.loader {
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--color2);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transition: width .3s ease-in-out, height .3s ease-in-out; */
}
.loader__glitch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader__text {
    color: var(--color2);
    text-transform: uppercase;
    transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.loader__text::before, .loader__text::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.loader__text::before {
    color: red;
    animation: glitch-fx .5s infinite;
}
.loader__text::after {
    color: blue;
    animation: glitch-fx .9s infinite;
}

@keyframes glitch-fx {
    0%{
        top: -2px;
        left: -2px;
    }
    25%{
        top: 2px;
        left: 0px;
    }
    50%{
        top: -1px;
        left: 2px;
    }
    75%{
        top: -1px;
        left: -1px;
    }100%{
        top: 0px;
        left: -2px;
    }
}

@keyframes close-loader {
    0% {
        width: 100%;
        height: 100%;
    }
    40% {
        width: 95%;
        height: 8px;
        border-radius: 5%;
        background-color: #888;
        box-shadow: 0px 0px 70px 40px black;
    }
    80% {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #888;
        box-shadow: 0px 0px 70px 40px white;
    }
    90% {
        width: 2px;
        height: 100px;
        border-radius: 50%;
        background-color: #ddd;
        box-shadow: 0px 0px 70px 40px white;       
    }
    100% {
        width: 0;
        height: 0;
        border-radius: 0%;
        background-color: black;
        box-shadow: none;       
    }
}

.project-details {
    visibility: hidden;
    backdrop-filter:blur(50px);
    -webkit-backdrop-filter:blur(50px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: var(--color2);
    transform: scale(.1);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project-details__main > div, .project-details__main > img {
    transform: scale(.5);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project-details__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.project-details__title {
    height: 56px;
    border-bottom: var(--borderWidth) solid var(--color1);
    width: 100%;
    text-align: center;
    padding: 18px;
    font-weight: 800;
    min-height: 56px;
    font-style: italic;
}
.project-details__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.project-details__btn {
    width: 56px;
    height: 56px;
    border: none;
    background-color: transparent;
    color: var(--color2);
    cursor: pointer;
    padding: 15px;
}
.project-details__btn--close {
    position: absolute;
    top:0px;
    right: 0px;
    border-left: var(--borderWidth) solid var(--color1);
}
.project-details__btn--nav {
    border-top: var(--borderWidth) solid var(--color1);
}
.project-details__btn--nav span {
    color: var(--color2);
}
.project-details__img {
    max-height: 75vh;
    max-width: 75vh;
    width: 100%;
    height: auto;
    border: var(--borderWidth) solid var(--color2);
    min-height: 10vh;
    margin: 0 auto;
    transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project-details__img-wrpr {
    max-height: 75vh;
    max-width: 75vh;
    width: 100%;
    height: auto;
    /* border: var(--borderWidth) solid var(--color2); */
    min-height: 10vh;
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    position: relative;
}
.project-details__img--next, .project-details__img--prev, .project-details__img--behind {
    position: absolute;
    margin-left: 50vh;
    transform: scale(.3);
    opacity: .5;
  }
.project-details__img--prev {
    margin-left: -50vh;
}
.project-details__img--behind {
    margin-left: 0;
    opacity: 0;
}

.project-details__url {
    flex-grow: 1;
    padding: 18px;
    border: var(--borderWidth) solid var(--color1);
    border-bottom: none;
    text-align: center;
    font-weight: 800;
    font-style: italic;
}
.project-details__url a {
    text-decoration: none;
    color: var(--color2);
}
.project-details__desc {
    width: 100%;
    padding: 18px;
    text-align: center;
    height: 128px;
}

.wrapper {/* main wrapper */
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    min-height: 100vh;
}

.navigation {
    transition: margin-left .8s cubic-bezier(0.165, 0.84, 0.44, 1), left .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100vw;
    height: 100%;/* Na mobilnych dochodzi chowający się pasek adresu i wszystko psuje, dlatego PROCENT!!! */
    margin-left: 0px;
    left:100vw;
    border-right: none;
    border-left: var(--borderWidth) solid var(--color1);/*#fa05fa;*/
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
ul {
    list-style: none;
}
.navigation__ul {
    width: 100%;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
.navigation__ul--toolbar {
    background-color: var(--color1);
    width: 56px;
}
.navigation__li {
    width: 100%;
    height: 56px;
    color: var(--color2);
    cursor: pointer;
    transition: background-color .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-top: var(--borderWidth) solid transparent;
    border-bottom: var(--borderWidth) solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 20px;
}
.navigation__li:hover {
    background-color: var(--color1);
    border-color: var(--color1);
}
.navigation__li--toolbar {
    display: inline-block;
}
.navigation__btn {
    border:none;
    background-color: var(--color1);
    padding: 16px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    display: block;/* <a> też z tego korzysta */
    transition: background-color .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: black;
}
.navigation__btn:hover {
    border: var(--borderWidth) solid var(--color2);
    background-color: var(--color2);
    padding: calc(16px - var(--borderWidth));
    cursor: pointer;
    width: 56px;
    height: 56px;
    display: block;/* <a> też z tego korzysta */
}
.navigation__btn--menu {
    border-radius: 50% 0 0 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), left .8s cubic-bezier(0.165, 0.84, 0.44, 1), background-color .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100vw);
}
.navigation__icon-img {
    width:22px;/* 24 mają te materiałowe, ale nie wypełniają całości */
}
.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font-size: .9rem;
    margin-top: 0px;
    margin-left: -120px;
    width: 100px;
    text-align: center;
    background: var(--color2);
    z-index: 1;
    padding: 4px;
    border-radius: 2px;
    color: black;
    transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navigation__btn:hover > .tooltip, .mainView__img--skills:hover + .tooltip {
    visibility:visible;
    opacity: 1;
}
.mainView__img--skills:hover + .tooltip {
    margin-top: 0px;
    margin-left: -108px;
    left:0;
}

.mainView {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 100vh;
}
.mainView__section {
    width: 100%;
    min-height: 100%;
    border-bottom: var(--borderWidth) solid var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 10%;
}
.mainView__section--home {
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.mainView__section--about {
    backdrop-filter: brightness(.2);
    padding: 0;
    border-bottom: none;
}
.mainView__header {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    width: 100%;
    text-align: center;
    padding: 16px;
    color: var(--color2);
}
.mainView__header--about {
    height: 10vh;display: flex;
    justify-content: center;
    align-items: center;
}

.mainView__content-container {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 10%;
}
.mainView__content-container--home {
    justify-content: space-around;
}

.mainView__perspective-text {
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-left: -48px;
    transform: scale(.6);
}
.mainView__perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.mainView__perspective-line p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    white-space: nowrap;
}
.mainView__perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
}
.mainView__perspective-line:nth-child(odd) p{
    color: var(--color1);
}
.mainView__perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.333);
}
.mainView__perspective-line:nth-child(even) p{
    color: var(--color2);
}
.mainView__perspective-line {
    position: relative;
  }
  .mainView__perspective-text:hover p{
    transform: translate(0, -50px);
  }
  .mainView__perspective-line:nth-child(1) {
    left: 0px;
  }
  .mainView__perspective-line:nth-child(2) {
    left: 29px;
  }
  .mainView__perspective-line:nth-child(3) {
    left: 58px;
  }
  .mainView__perspective-line:nth-child(4) {
    left: 87px;
  }
  .mainView__perspective-line:nth-child(5) {
    left: 116px;
  }

.mainView__about-grid {
    border-top: var(--borderWidth) solid var(--color1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width:100%;
    min-height: 90vh;
}
.mainView__about-grid > div {
    border-bottom: var(--borderWidth) solid var(--color1);
    padding: 16px;
    color: var(--color2);
    /* font-size: 1.5em; */ /* niby klasa ma wiekszy priorytet niz tag, ale jakos nie w  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainView__about-grid > div:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
.mainView__about-grid > div:nth-child(2) { grid-area: 4 / 1 / 5 / 2; border-right: var(--borderWidth) solid var(--color1); }
.mainView__about-grid > div:nth-child(3) { grid-area: 3 / 2 / 4 / 3; }
.mainView__about-grid > div:nth-child(4) { grid-area: 3 / 1 / 4 / 2; border-right: var(--borderWidth) solid var(--color1); }
.mainView__about-grid > div:nth-child(5) { grid-area: 4 / 2 / 5 / 3; }
.mainView__about-grid > div:nth-child(6) { grid-area: 5 / 1 / 6 / 3; }
.mainView__about-grid > div:nth-child(7) { grid-area: 6 / 1 / 7 / 3; }
.mainView__about-grid > div:nth-child(8) { grid-area: 7 / 1 / 8 / 3; }
.mainView__about-grid > div:nth-child(9) { grid-area: 1 / 1 / 2 / 3; display: none; }
.mainView__about-grid > div:nth-child(10) { grid-area: 2 / 5 / 3 / 6; display: none; }
.mainView__about-grid > div:nth-child(11) { grid-area: 1 / 6 / 2 / 7; display: none; }

.mainview__about-header {
    font-size: .8em;
    padding-bottom: 32px;
    width: 100%;
}
.mainView__about-main {
    text-align: justify;
    font-size: 1.1em;
}
.mainView__about-efx, .mainView__about-big {
    font-size: 1.5em;
}
.mainView__about-efx span:nth-child(1) {
    letter-spacing: 0.13em;
    line-height: 0.7;
}
/* .mainView__about-efx span:nth-child(2) {
    
} */
.mainView__about-efx span:nth-child(3) {
    font-size: 2.15em;
    line-height: 0.7;
    font-style: italic;
    font-weight: 900;
}
.mainView__about-efx span:nth-child(4) {
    letter-spacing: -0.08em;
}

@keyframes thicker-font {
    0%{
        font-variation-settings: 'wght' 400;
        font-style: normal;
    }
    100%{
        font-variation-settings: 'wght' 900;
        font-style: italic;
    }
}
@keyframes thiner-font {
    0%{
        font-variation-settings: 'wght' 900;
        font-style: italic;
    }
    100%{
        font-variation-settings: 'wght' 400;
        font-style: normal;
    }
}
.mainView__about-big span:nth-child(1) {
    font-size: 4em;
    font-weight: 900;
    line-height: .6;
}
.mainView__about-big span:nth-child(2) {
    font-size: 1.7em;
}
.mainView__about-big span:nth-child(3) {
    font-style: italic;
    font-weight: 300;
    line-height: .1;
}
.mainView__about-borders {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
}
.mainView__about-bmi {
    font-size: 1.2em;
}
.mainView__about-bmi span:nth-child(1) {
    font-weight: 300;
    font-size: 1.4em;
    line-height: .7;
}
.mainView__about-bmi span:nth-child(2) {
    font-size: 2.6em;
    text-transform: uppercase;
    line-height: .9;
    font-weight: 300;
}
.mainView__about-bmi span:nth-child(3) {
    font-size: 1.1em;
    font-weight: 600;
    line-height: .5;
    /* font-style: italic; */
    text-transform: uppercase;
}
.mainView__about-bmi span:nth-child(4) {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.19;
}
.mainView__about-bmi span:nth-child(5) {
    font-weight: 900;
    font-size: 0.87em;
    line-height: .55;
}
.mainView__about-arch {
    font-style: italic;
    font-weight: 900;
}

.crossed {
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - var(--borderWidth)),
            var(--color1) 50%,
            rgba(0,0,0,0) calc(50% + var(--borderWidth)),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - var(--borderWidth)),
            var(--color1) 50%,
            rgba(0,0,0,0) calc(50% + var(--borderWidth)),
            rgba(0,0,0,0) 100%);
}

.mainView__card {
    border: var(--borderWidth) solid var(--color1);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    width: 100%;
    padding: 16px;
    color: var(--color2);
}
.mainView__card--skills {
    margin-bottom: 32px;
}
.mainView__card--skills li {
    background-color: rgba(0,0,0,.3);
    padding: 8px;
    margin-top:4px;
    display: flex;
    justify-content: space-between;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
    transform: scaleX(.1);
    opacity: 0;
}
.mainView__card--skills li:first-child {
    margin-top: 0;
}
.mainView__card--skills li > span {
    align-items: center;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    position: relative;
}
.mainView__card--skills li > span:first-child {
    margin-right: 8px;
}
.mainView__card--contact {
    aspect-ratio: 1;
    transform: scale(.1);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mainView__card--contact div {
    border: var(--borderWidth) solid var(--color2);
}
.mainView__card--contact > div {
    height: 100%;
    padding: 8px;
    transform: scale(.1);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mainView__card--contact > div > div { /* circle */
    border-radius: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--borderWidth) solid var(--color1);
    transform: scale(.1);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mainView__card--contact > div > div > div { /* Pig eyes */
    border-radius: 50%;
    height: 20%;
    aspect-ratio: 1;
}
.mainView__card--contact img {
    width: 100%;
    height: 100%;
}
.mainView__card--contact a { 
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(.1);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mainView__subheader {
    padding-bottom: 16px;
    display: block;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
}
.mainView__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}
.mainView__projects > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgba(0,0,0,.3);
    position: relative;
    cursor: pointer;
    transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
    transform: scaleX(.1);
    opacity: 0;
}
.mainView__project-imgwrpr { /* for mix-blend-mode which crashes blur in firefox, so maybe in future */
    width: 160px;
    height: 160px;
    background-color: var(--color1); 
    border: var(--borderWidth) solid var(--color2); 
}
.mainView__project-img {
    width: calc(160px - var(--borderWidth)*2);/* width heigth in html for performance so we need this */
    height: calc(160px - var(--borderWidth)*2);
    /*mix-blend-mode: hard-light; *//* this causes backdrop-filter:blur(10px) to not working on some other elements, not each of them though */
    filter: grayscale(1) brightness(.5);
}
.mainView__project-info {
    padding:12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 104px;
    margin-top: -104px;
    z-index: 1;
}
.mainView__project-title {
    padding-bottom: 8px;
    font-weight: 800;
    font-size: 1.1em;
    font-style: italic;
}
.mainView__project-desc {
    display: none;
    text-align: center;
}
.mainView__project-btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 160px;
    z-index: 1;
}

.mainView__img--me {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: var(--borderWidth) solid var(--color2);
    width:100%;
    height: auto;
}
.mainView__img--metoo {
    border: var(--borderWidth) solid var(--color1);
}
.mainView__img--skills {
    width: 24px;
    height: 24px;
    margin: 4px;
    cursor: pointer;
}

p{
    text-align: justify;
}

@media screen and (min-width: 576px){

    .mainView__card {
        padding: 32px;
    }

    .mainView__projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 100px);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        width:100%;
        height: 100%;
    }
    .mainView__projects > div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        background-color: rgba(0,0,0,.3);
    }
    .mainView__project-desc {
        display: block;
    }

    .mainView__project-info {
        padding:16px 8px 0;
        margin-top: 0;
        height: 100%;
    }

    .mainView__project-imgwrpr {
        width: 100px;
        height: 100px; 
    }
    .mainView__project-img {
        width: calc(100px - var(--borderWidth)*2);
        height: calc(100px - var(--borderWidth)*2);
    }

    .mainView__project-btn {
        height: 100%;
    }
    .mainView__perspective-text {
        transform: scale(1);
    }

    .mainView__about-grid {
        border-top: var(--borderWidth) solid var(--color1);
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, minmax(30vh,auto));
        width:100%;
        min-height: 90vh;
    }
    .mainView__about-grid > div:nth-child(1) { grid-area: 1 / 2 / 3 / 3; border-right: var(--borderWidth) solid var(--color1); }
    .mainView__about-grid > div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
    .mainView__about-grid > div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
    .mainView__about-grid > div:nth-child(4) { grid-area: 1 / 1 / 2 / 2; }
    .mainView__about-grid > div:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }
    .mainView__about-grid > div:nth-child(6) { grid-area: 3 / 1 / 4 / 2; border-right: var(--borderWidth) solid var(--color1); }
    .mainView__about-grid > div:nth-child(7) { grid-area: 3 / 2 / 4 / 3; border-right: var(--borderWidth) solid var(--color1); }
    .mainView__about-grid > div:nth-child(8) { grid-area: 3 / 3 / 4 / 4; }
}

@media screen and (min-width: 768px){
    
    body{
        font-size: 16px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .navigation{
        position: unset;
        width: 224px;
        height: 100vh;/* dla desktopów już nie % tylko vh */
        flex-direction: column;
        border-right: var(--borderWidth) solid var(--color1);
        border-left: none;
        left:0;
    }

    .navigation__ul--toolbar {
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .navigation__btn--menu {
        border-radius: 0 50% 0 0;
        transform: translateX(0px);
    }

    .tooltip {
        margin-left: -15px;
        margin-top: -50px;
    }

    .mainView__header{
        padding: 32px;
    }

    .mainView__projects {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 150px);
    }
    .mainView__project-imgwrpr {
        width: 150px;
        height: 150px;
    }
    .mainView__project-img {
        width: calc(150px - var(--borderWidth)*2);
        height: calc(150px - var(--borderWidth)*2);
    }

    .mainView__perspective-text {
        margin-top: 100px;    
        transform: scale(1);
    }
}

@media screen and (min-width: 966px){
    
    body{
        font-size: 20px;
    }

    .project-details__title, .project-details__desc, .project-details__url {
        padding: 15px;
    }

    .mainView__perspective-text {  
        transform: scale(1.4);
        margin-left: -56px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1400px){

    .mainView__card--skills {
        width: 48%;
    }

    .mainView__projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 150px);
    }
    .mainView__perspective-text {
        margin-top: 100px;
        margin-left: -128px;
        transform: scale(1.8);
    }

    .mainView__about-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, minmax(30vh,auto));
    }
    .mainView__about-grid > div:nth-child(1) { grid-area: 1 / 3 / 3 / 5; }
    .mainView__about-grid > div:nth-child(2) { grid-area: 2 / 2 / 3 / 3; }
    .mainView__about-grid > div:nth-child(3) { grid-area: 1 / 5 / 2 / 6; border-right: var(--borderWidth) solid var(--color1); }
    .mainView__about-grid > div:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
    .mainView__about-grid > div:nth-child(5) { grid-area: 2 / 6 / 3 / 7; }
    .mainView__about-grid > div:nth-child(6) { grid-area: 3 / 1 / 4 / 3; }
    .mainView__about-grid > div:nth-child(7) { grid-area: 3 / 3 / 4 / 5; }
    .mainView__about-grid > div:nth-child(8) { grid-area: 3 / 5 / 4 / 7; }
    .mainView__about-grid > div:nth-child(9) { grid-area: 1 / 1 / 2 / 3; border-right: var(--borderWidth) solid var(--color1); display: flex; }
    .mainView__about-grid > div:nth-child(10) { grid-area: 2 / 5 / 3 / 6; border-right: var(--borderWidth) solid var(--color1); display: flex; }
    .mainView__about-grid > div:nth-child(11) { grid-area: 1 / 6 / 2 / 7; display: flex; }

    .mainView__about-big {
        font-size: 2em;
    }
}
@media only screen and (orientation: landscape) {

    .project-details__img-wrpr, .project-details__img {
        width: auto;
    }
    .mainView__content-container--contact {
        flex-direction: row;
    }
    .mainView__card--contact {
        padding: 2vh;
        width: 25%;
    }
}

@media only screen and (orientation: portrait) {
    .mainView__content-container--contact {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mainView__card--contact {
        padding: 2vw;
        width: 35vw;
    }
}

@media only screen and (orientation: landscape) and (max-height: 400px) {
    .mainView__perspective-text {
        transform: scale(.6);
        margin-top:20px;
    }
}
@media only screen and (orientation: landscape) and (min-height: 401px) and (max-height: 500px) {
    .mainView__perspective-text {
        transform: scale(.8);
        margin-top:50px;
    }
}
@media only screen and (orientation: landscape) and (min-height: 501px) and (max-height: 600px) {
    .mainView__perspective-text {
        transform: scale(1);
    }
}
@media only screen and (orientation: landscape) and (min-height: 601px) and (max-height: 700px) {
    .mainView__perspective-text {
        transform: scale(1.2);
    }
} 
@media only screen and (orientation: landscape) and (min-height:701px) and (max-height: 900px) {
    .mainView__perspective-text {
        transform: scale(1.4);
    }
}